# Ollama Configuration
OLLAMA_MODEL="gemma2:2b"
OLLAMA_HOST="http://localhost:11434"
OLLAMA_TIMEOUT="600"

# Embeddings Configuration
EMBEDDING_MODEL="intfloat/multilingual-e5-large"

# Travily Configuration
TAVILY_API_KEY = ""

# Evaluation Configuration
TOP_K="3"
N_URLS_FOR_TOPIC="5"
BATCH_URL="4"

#Device
DEVICE="cpu"

