# Виртуальное окружение
.venv/
venv/
env/

# Системные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Базы данных и кэш
faiss_data/

# Секреты и конфигурации окружения
.env

# Файлы редакторов кода (если используешь VS Code или PyCharm)
.vscode/
.idea/

# Системные файлы ОС
.DS_Store
Thumbs.db
